<div class="dashboard-layout">
  <aside
    #sidebarShell
    class="sidebar"
    [class.expanded]="sidebarExpanded"
    aria-label="Navigation principale"
    (mouseenter)="onSidebarEnter()"
    (mouseleave)="onSidebarLeave()"
    (focusin)="onSidebarEnter()"
    (focusout)="onSidebarLeave()">
    <app-menu-dashboard [collapsed]="!sidebarExpanded"></app-menu-dashboard>
  </aside>
  <main class="content">
    <div class="content-body">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
