@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

:host {
  display: block;
}

.link {
  display: flex;
  align-items: center;
  gap: $spacing-12;
  padding: $spacing-8;
  border-radius: $radius-8;
  text-decoration: none;
  color: inherit;
  @include transition();
  cursor: pointer;

  &:hover {
    @include surface(15%);
  }

  .icon {
    @include icon-center;
  }
}