@if (route) {
  <a
    class="link"
    [routerLink]="route"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: exact }"
    [attr.title]="isIconOnly ? text : null"
    [attr.aria-label]="isIconOnly ? text : null"
    (click)="onClick($event)">
    <app-icon [name]="icon" [size]="20" class="icon"></app-icon>
    @if (!isIconOnly) {
      <p class="label">{{ text }}</p>
    }
  </a>
} @else {
  <a
    class="link"
    href="#"
    role="button"
    [attr.title]="isIconOnly ? text : null"
    [attr.aria-label]="isIconOnly ? text : null"
    (click)="onClick($event)">
    <app-icon [name]="icon" [size]="20" class="icon"></app-icon>
    @if (!isIconOnly) {
      <p class="label">{{ text }}</p>
    }
  </a>
}
