<div class="header">
    <div class="title">
        <app-icon name="calendar" [size]="30"></app-icon>
        <h4>Calendrier</h4>
    </div>
    <div class="month">
        <app-icon name="arrow-left" [size]="15" [strokeWidth]="3" (click)="onPreviousMonth()"></app-icon>
        <h4>{{ monthName }}</h4>
        <app-icon name="arrow-right" [size]="15" [strokeWidth]="3" (click)="onNextMonth()"></app-icon>
    </div>
    <div class="year">
        <ui-input 
            type="select" 
            [value]="currentYear.toString()" 
            [options]="yearOptions"
            (change)="onYearChange($event)">
        </ui-input>
    </div>
</div>



