<div class="header">
    <div class="title">
        <app-icon name="calendar" [size]="30"></app-icon>
        <h4>Calendrier</h4>
    </div>
    <div [class]="centerClass">
        <app-icon name="arrow-left" [size]="15" [strokeWidth]="3" (click)="onPrevious()"></app-icon>
        <h4>{{ centerText }}</h4>
        <app-icon name="arrow-right" [size]="15" [strokeWidth]="3" (click)="onNext()"></app-icon>
    </div>
    @if (mode === 'day') {
    <div class="month-info">
        <h4>{{ monthName }}</h4>
    </div>
    } @else {
    <div class="year">
        <ui-input 
            type="select" 
            [value]="currentYear.toString()" 
            [options]="yearOptions"
            (change)="onYearChange($event)">
        </ui-input>
    </div>
    }
</div>

