<div class="header">
    <div class="title">
        <app-icon name="calendar" [size]="30"></app-icon>
        <h4>Calendrier</h4>
    </div>
    <div [class]="centerClass">
        <button type="button" class="nav-arrow" (click)="onPrevious()" aria-label="Précédent">
            <app-icon name="arrow-left" [size]="18" [strokeWidth]="3"></app-icon>
        </button>
        <h4>{{ centerText }}</h4>
        <button type="button" class="nav-arrow" (click)="onNext()" aria-label="Suivant">
            <app-icon name="arrow-right" [size]="18" [strokeWidth]="3"></app-icon>
        </button>
    </div>
    @if (mode === 'day') {
    <div class="month-info">
        <h4>{{ monthName }}</h4>
    </div>
    } @else {
    <div class="year">
        <ui-input 
            type="select" 
            [value]="currentYear.toString()" 
            [options]="yearOptions"
            (change)="onYearChange($event)">
        </ui-input>
    </div>
    }
</div>

