@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

:host {
  display: block;
}

.day {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
  padding: $spacing-12;
  border-radius: $radius-16;
  @include transition();
  min-height: 80px;

  &:hover {
    background: color-mix(in srgb, var(--bg) 15%, transparent);
    cursor: pointer;
  }
}

:host.day-component--disabled {
  .day {
    opacity: 0.4;
    pointer-events: none;
    
    .day-number {
      opacity: 0.5;
    }
  }
}

:host.day-component--today {
  .day {
    box-shadow: inset 0 0 0 2px var(--color-primary-300);
  }
}

:host.day-component--clickable {
  .day {
    cursor: pointer;
    
    &:active {
      transform: scale(0.95);
    }
  }
}

