@use '../../../styles/tokens' as *;

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: var(--color-gray-700);
  border: 1px solid color-mix(in srgb, var(--color-white) 60%, transparent);
  text-transform: uppercase;

  h4 {
    font-weight: 300 !important;
  }
}
