@use '../../../../../styles/tokens' as *;

:host {
  display: block;

  .menu-hamburger {
    padding: $spacing-16;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
    background-color: var(--color-gray-800);
    padding: $spacing-8;
    border-radius: $radius-8;
  }
}