@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

.dashboard-settings-page {
  .content {
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .field-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 10px;
    }

    .name-fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }

    .form-actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 8px;
    }
  }
}

