@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

:host {
  width: 60%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-12;
  margin: 0 auto;
  padding: $spacing-24 0;

  .title {
    display: flex;
    align-items: center;
    gap: $spacing-12;
    color: var(--text);
  }

  .links {
    display: flex;
    align-items: center;
    gap: $spacing-12;
    position: relative;

    .avatar-wrapper {
      position: relative;
      @include icon-center;

      .hamburger-menu {
        position: absolute;
        top: calc(100%);
        right: -60px;
        z-index: 1000;
        animation: fadeIn 0.2s ease-in-out;
      }
    }

    .icon-moon-wrapper {
      cursor: pointer;
      @include icon-center;
      --moon-icon-color: var(--text-muted);
      @include transition(opacity, 300ms);
      background: none;
      border: none;
      padding: 0;
      @include focus-visible;

      &:hover {
        --moon-icon-color: var(--text);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
