@if (isLoading) {
<div class="loading">
  <p>Chargement du dossier...</p>
</div>
} @else if (dossier) {

<div class="header">
  <app-icon name="calendar" [size]="28"></app-icon>
  <h3>Dossier médical</h3>
</div>


<div class="info-patient">
  <!-- Informations du patient -->
  <section>
    <div class="title">
      <app-icon name="user" [size]="28"></app-icon>
      <h4>Informations patient</h4>
    </div>
    <div class="content">
      <div class="name">
        <p>Nom complet</p>
        <p>{{ dossier.patient.prenom }} {{ dossier.patient.nom }}</p>
      </div>
      <div class="birthdate">
        <p>Date de naissance</p>
        <p>{{ formatDate(dossier.patient.dateNaissance) }} ({{ getAge(dossier.patient.dateNaissance) }}
          ans)</p>
      </div>
      <div class="sexe">
        <p>Sexe</p>
        <app-icon [name]="getSexeIcon(dossier.patient.sexe)" [size]="20"></app-icon>
      </div>
    </div>
  </section>

  <!-- Informations du rendez-vous -->
  <section>
    <div class="title">
      <app-icon name="calendar" [size]="20"></app-icon>
      <h4>Rendez-vous</h4>
    </div>
    <div class="content">
      <div class="date">
        <p>Date</p>
        <p>{{ formatDate(dossier.rdv.date) }}</p>
      </div>
      <div class="time">
        <p>Heure</p>
        <p>{{ formatTime(dossier.rdv.heureDebut) }} - {{ formatTime(dossier.rdv.heureFin) }}</p>
      </div>
      <div class="modalite">
        <p>Modalité</p>
        <p>{{ formatModalite(dossier.rdv.modalite) }}</p>
      </div>
    </div>
  </section>
</div>

<div class="info-rdv">
  <!-- Observations médicales -->
  <section>
    <div class="title">
      <app-icon name="file-text" [size]="20"></app-icon>
      <h3>Observations médicales</h3>
    </div>
    <div class="content">
      <ui-input type="textarea" [value]="observationsValue" (input)="updateObservations($any($event.target).value)"
        (blur)="onObservationsBlur()" placeholder="Saisissez vos observations médicales..." id="observations"
        [disabled]="isSavingObservations" message="Vous pouvez cliquer pour saisir ou modifier les observations."
        messageType="info" [fullHeight]="true">
      </ui-input>
      @if (isSavingObservations) {
      <span>Enregistrement en cours...</span>
      }
    </div>
  </section>


  <!-- Résultats d'examen -->
  <section>
    <div class="title">
      <app-icon name="clipboard-check" [size]="20"></app-icon>
      <h4>Résultats d'examen</h4>
    </div>
    <div class="content">
      @if (dossier.resultats) {
      <div class="text-content">
        <p>{{ dossier.resultats }}</p>
      </div>
      }
    </div>
  </section>
</div>

<!-- Documents associés
  <section>
    <div class="title">
      <app-icon name="folder" [size]="20"></app-icon>
      <h3>Documents associés</h3>
    </div>
    <div class="content">
      @if (getDocumentsList(dossier.documents).length > 0) {
      @for (document of getDocumentsList(dossier.documents); track document) {
      <div class="document-item">
        <app-icon name="file" [size]="16"></app-icon>
        <span>{{ document }}</span>
      </div>
      }
      } @else {
      <p>Aucun document associé</p>
      }
    </div>
  </section>
 -->

<!-- Métadonnées -->
<div class="info-data">
  <section>
    <div class="created-at">
      <p>Créé le</p>
      <p>{{ formatDate(dossier.createdAt) }}</p>
    </div>
    <div class="updated-at">
      <p>Modifié le</p>
      <p>{{ formatDate(dossier.updatedAt) }}</p>
    </div>
  </section>
</div>

}