@use '../../../styles/mixins' as *;

:host {
  @include icon-center;
  vertical-align: middle;

  .icon-wrapper {
    @include icon-center;
    width: var(--icon-size, 20px);
    height: var(--icon-size, 20px);

    lucide-icon {
      width: var(--icon-size, 20px);
      height: var(--icon-size, 20px);

      svg {
        width: 100%;
        height: 100%;
        @include transition(stroke color, 300ms);
      }
    }
  }
}
