@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

.dashboard-planning-day-page {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;

  .content {
    @include surface(5%);
    border: 1px solid border-surface-color(10%);
    border-radius: $radius-16;
    padding: $spacing-24;
  }

  .info-badge {
    display: inline-flex;
    align-items: center;
    gap: $spacing-8;
    margin-bottom: $spacing-24;
  }
}

