@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

:host {
  width: 100%;
  max-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacing-12;
  margin: 0 auto;
  padding: $spacing-24;
  @include glass-panel;
  border-radius: $radius-12;

  .title {
    display: flex;
    align-items: center;
    gap: $spacing-12;
    color: var(--text);
    cursor: pointer;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: $spacing-12;
    margin-top: 50px;

    .icon-moon-wrapper {
      cursor: pointer;
      @include icon-center;
      --moon-icon-color: var(--text-muted);
      @include transition(opacity, 300ms);

      &:hover {
        --moon-icon-color: var(--text);
      }
    }
  }

  .profil {
    position: relative;
    display: flex;
    align-items: center;
    gap: $spacing-16;

    .profil-info {
        min-width: 0;

        h6, p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--text);
        }
        
        p {
          color: var(--text-muted);
        }
    }

    .icon-logout-wrapper {
      position: absolute;
      right: 0px;
      cursor: pointer;
      @include icon-center;
      --logout-icon-color: var(--text-muted);
      @include transition(opacity, 300ms);

      &:hover {
        --logout-icon-color: var(--text);
      }
    }
  }
}

